PORT=8000
S_DB_TYPE=json
DB_PATH=./.gitignored/app.db
S_PATH__DB_JSON=./.gitignored/appdb/
STATIC_DIR=./localhost
S_UUID=0b0ee2c6-3cc9-43af-914c-775b5e6bedbb
MODEL_CONSTRUCTORS_CLI_LANGUAGES_PATH=./.gitignored/model_constructors/
BIN_PYTHON=python3
PATH_VENV=./venv